<%-  include("../partials/header") %>   
             <div id="namma-carousel" class="carousel slide">
                 
                  <div class="carousel-inner" role="listbox">
                          
                    <div class="item active firstslide" >
                      <div class="carousel-caption">
                        <h1 id="landing-header" data-animation="animated lightSpeedIn"><span class="glyphicon glyphicon-bullhorn"></span> eSell</h1>
                             <em><h3 id="tagline" data-animation="animated bounceInDown">Start Selling and Buying</h3></em>
                        <hr>
                      </div> 
                    </div> 
            
                  
                    <div class="item secondslide">
                       <div class="carousel-caption">
                         <h3 class="icon-container" data-animation="animated bounceInUp">
                          <span class="fa fa-lightbulb-o"></span>
                        </h3>
                         <a href="/aucgrounds?search=Laptop" data-animation="animated zoomInUp" class="btn btn-block">View eSell Top Laptops </a>
                      </div>
                    </div>
                    <div class="item thirdslide">
                      <div class="carousel-caption">
                        <h3 class="icon-container" data-animation="animated bounceInDown" style="font-weight: bolder;">
                        BOOKS
                       </h3>
                        <a href="/aucgrounds?search=Book" data-animation="animated zoomInUp" class="btn btn-block">View eSell Books </a>
                     </div>
                   </div>
                   <div class="item fourthslide">
                    <div class="carousel-caption">
                      <h3 class="icon-container" data-animation="animated bounceInLeft">
                       <span class="fa fa-clock"></span>
                     </h3>
                      <a href="/aucgrounds?search=Watch" data-animation="animated zoomInUp" class="btn btn-block">View eSell Top Watch </a>
                   </div>
                 </div>
            
              
                    <div class="item fifthslide">
                      <div class="carousel-caption">
                        <h3 class="icon-container" data-animation="animated bounceInDown">
                          <span class="glyphicon glyphicon-heart"></span>
                        </h3>
                        <a href="/aucgrounds?search=Jewel" data-animation="animated zoomInUp" class="btn btn-block">View Our featured Jwellery</a>
                      </div>
                    </div>
                    <div class="item sixslide">
                      <div class="carousel-caption">
                        <h3 data-animation="animated zoomInLeft" > 
                        <span style="font-size: 100px;"> Cell Phones</span>
                        </h3>
                        <a href="/aucgrounds?search=mobile" data-animation="animated zoomInLeft" class="btn btn-block">View Our featured Cell Phones</a>
                      </div>
                    </div>
            
                  </div>
            
             <ol class="carousel-indicators">
             <li data-target="#namma-carousel" data-slide-to="0" class="active"></li>
             <li data-target="#namma-carousel" data-slide-to="1"></li>
             <li data-target="#namma-carousel" data-slide-to="2"></li>
             <li data-target="#namma-carousel" data-slide-to="3"></li>
             <li data-target="#namma-carousel" data-slide-to="4"></li>
             </ol>
                  
        
                  <a class="left carousel-control" href="#namma-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#namma-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div><!-- /.carousel -->
            <!--</section> -->
            <ul class="data">
              <% if(noMatch !==null){ %>
                  <h3><%=noMatch %></h3>
             <% } %>
          </div>
          <div>
            <div class="row">
              <div class="col-md-3">
                <ul>
                  <li>
                    <nav class="navbar navbar-inverse">
                      <div class="form-group" style="margin-top: 7px;margin-bottom: 7px;margin-left: 20px;height: 13px;width: 300px;">
                        <img src="https://sc02.alicdn.com/kf/HTB12RuNUmzqK1RjSZFH7623CpXa6.png_50x50xz.jpg" alt="" width="40px" height="40px" style="border-radius: 50%;display: inline;">
                        <a href=""><h4 style="display: inline;">Consumers-Electronics</h4></a>
                   </a>
                </div>
                  </nav>
                  </li>
                  <li>
                    <nav class="navbar navbar-inverse">
                      <div class="form-group" style="margin-top: 7px;margin-bottom: 7px;margin-left: 20px;height: 13px;width: 300px;">
                        <img src="https://sc02.alicdn.com/kf/HTB1gUuPUkzoK1RjSZFl761i4VXaw.png_50x50xz.jpg" alt="" width="40px" height="40px" style="border-radius: 50%;display: inline;">
                        <a href=""><h4 style="display: inline;">Apparel</h4></a>
                </div>
                  </nav>
                  </li>
                  <li>
                    <nav class="navbar navbar-inverse">
                      <div class="form-group" style="margin-top: 7px;margin-bottom: 7px;margin-left: 20px;height: 13px;width: 300px;">
                        <img src="https://sc02.alicdn.com/kf/HTB1JdWLUhTpK1RjSZR0762EwXXa6.png_50x50xz.jpg" alt="" width="40px" height="40px" style="border-radius: 50%;display: inline;">
                        <a href=""><h4 style="display: inline;">Vehicles & Accessories</h4></a>
                </div>
                  </nav>
                  </li>
                  <li >
                    <nav class="navbar navbar-inverse">
                      <div class="form-group" style="margin-top: 7px;margin-bottom: 7px;margin-left: 20px;height: 13px;width: 300px;">
                        <img src="https://sc02.alicdn.com/kf/HTB1AkuTUgHqK1RjSZJn762NLpXa2.png_50x50xz.jpg" alt="" width="40px" height="40px" style="border-radius: 50%;display: inline;">
                        <a href=""> <h4 style="display: inline;">Sports & Entertainment</h4></a>
                </div>
                  </nav>
                  </li>
                  <li>
                    <nav class="navbar navbar-inverse">
                      <div class="form-group" style="margin-top: 7px;margin-bottom: 7px;margin-left: 20px;height: 13px;width: 300px;">
                        <img src="https://sc02.alicdn.com/kf/H5e92ef24edc94162b72c331cbd6fbe6fn.png_50x50xz.jpg" alt="" width="40px" height="40px" style="border-radius: 50%;display: inline;">
                        <a href=""><h4 style="display: inline;">Machinery</h4></a>
                </div>
                  </nav>
                  </li>
                  <li >
                    <nav class="navbar navbar-inverse">
                      <div class="form-group"style="margin-top: 7px;margin-bottom: 7px;margin-left: 20px;height: 13px;width: 300px;">
                        <img src="https://sc02.alicdn.com/kf/HTB1RxCkXHys3KVjSZFn760FzpXaP.png_50x50xz.jpg" alt="" width="40px" height="40px" style="border-radius: 50%;display: inline;">
                        <a href=""><h4 style="display: inline;">Home & Garden Stuff</h4></a>
                </div>
                  </nav>
                  </li>
                  <li >
                    <nav class="navbar navbar-inverse">
                      <div class="form-group" style="margin-top: 7px;margin-bottom: 7px;margin-left: 20px;height: 13px;width: 300px;">
                        <img src="https://sc02.alicdn.com/kf/HTB1K6G0UcfpK1RjSZFO7616nFXah.png_50x50xz.jpg" alt="" width="40px" height="40px" style="border-radius: 50%;display: inline;">
                        <a href=""> <h4 style="display: inline;">Beauty & Personal Care</h4></a>
                </div>
                  </nav>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
               <nav class="navbar navbar-inverse" style="height:470px">
                <ul class="slideshow">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
               </nav>
              </div>
              <div class="col-md-2" >
                <div style="width:320px">
                  <nav class="navbar navbar-inverse">
                    <div style="width: 300px;margin-left: 10px;margin-top: 10px;">
                      <nav class="navbar navbar-inverse">
                        <h3 style="text-align: center;">Top Selling On eSell</h3>
                      </nav>
                      <ul>
                      </ul>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <% aucground.forEach(function(aucground){ %>
            <li class="image">
              <nav class="navbar navbar-inverse" style="width: 300px;">
                <h5 > <%=moment(aucground.createdAt).fromNow() %></h5>
                <img src="<%=aucground.image%>"  alt="Cinque Terre" width="270px" height="200px" >
              </nav>
              <nav class="navbar navbar-inverse">
                <h4 style="display: inline;"><%=aucground.name %></h4>
                <h4 >$<%= aucground.price %></h4>
                <a href="/aucgrounds/<%= aucground._id %>" class="btn btn-default" style="margin-top: 10px;margin-bottom: 10px;">Buy Now</a>
            </nav>
            </li>
          <%}) %>
          </ul>
            <div class="row text-center">
              <% if (pages && pages > 0) { %>
              <ul class="pagination text-center" >
                  <% if (current == 1) { %>
                  <li class="disabled" ><a >First</a></li>
                  <% } else { %>
                  <li><a href="/aucgrounds<%if(search){%>?search=<%=search%><%}%>">First</a></li>
                  <% } %>
           
                  <% if (current == 1) { %>
                  <li class="disabled"><a >«</a></li>
                  <% } else { %>
                  <li><a href="/aucgrounds?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>">«</a></li>
                  <% } %>
           
                  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                  <% if (i !== 1) { %>
                  <li class="disabled"><a >...</a></li>
                  <% } %>
                  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                  <% if (i == current) { %>
                  <li class="active"><a ><%= i %></a></li>
                  <% } else { %>
                  <li><a href="/aucgrounds?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a></li>
                  <% } %>
                  <% if (i == Number(current) + 4 && i < pages) { %>
                  <li class="disabled"><a >...</a></li>
                  <% } %>
                  <% } %>
           
                  <% if (current == pages) { %>
                  <li class="disabled"><a >»</a></li>
                  <% } else { %>
                  <li><a href="/aucgrounds?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a></li>
                  <% } %>
           
                  <% if (current == pages) { %>
                  <li class="disabled"><a >Last</a></li>
                  <% } else { %>
                  <li><a href="/aucgrounds?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Last</a></li>
                  <% } %>
              </ul>
              <% } %>
          </div>    
      <%-  include("../partials/footer") %>